body {
    font-family: 'Arial', sans-serif;
}

.card {
    border-radius: 10px;
}

h3 {
    color: #333;
}

.form-control {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
}

.text-danger {
    font-weight: bold;
}
